
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Meu primeiro aplicativo Vue</title>
        <script src="../vue.js"></script>
        <style type="text/css">
            .bordinha {
                border: solid;
            }
            .vermelho {
                color: red;
            }
            .icone {
                height: 60px;
                width: 120px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <input type="checkbox" v-model="v1">v1<br>
            <input type="checkbox" v-model="v2">v2<br>
            <input type="checkbox" v-model="v3">v3<br>
            <input type="checkbox" v-model="v4">v4<br>
            <span v-if="v1" :class="{bordinha: v3, vermelho:v4}">vê ife</span><br>
            <span v-show="v2">vê xou</span><br>
            <img src="https://miro.medium.com/max/1400/1*ACR0gj0wbx91V_xgURifWg.png"
                 class="icone"
                 :style="{transform: 'rotate('+angulo+'deg)'}">
            <button @click="roda()">RODA!</button>
        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    v1: false,
                    v2: false,
                    v3: false,
                    v4: false,
                    angulo: 40,
                },
                methods: {
                    roda: function(){
                        let self = this;
                        setInterval( function(){
                            self.angulo++
                        }, 10);
                    }

                }
            });
        </script>
    </body>
</html>